<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto;
    }

    span {
      margin: 10px 0;
      display: block;
    }
  </style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <span>Oi, {{name}}</span>

    <br />

    <span>Você solicitou alteração de senha.</span>
    <span>
      Para realizar a troca, click no link
      <a href="{{link}}">{{link}}</a>
    </span>

    <span>Caso não tenha solicitado a alteração de senha, basta ignorar este e-mail</span>

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>Rentalx</strong></h3>
  </div>
</body>

</html>